
.catalog {
  background-color: $lightest-grey;
}

.catalog-title {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $base-primary;
}

.catalog-subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}
