
.filters {
  @media (min-width: $desktop-width) {
    padding-top: 19px;
  }
}

.filters__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filters__wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters__wrapper--milk {
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.filters__title,
.filters__title-price {
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.filters__title-price {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 29px;
  }
}

.filters__title {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.filters__list {
  @include list();
}

.filters__item {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.filters__label {
  position: relative;
  display: block;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  cursor: pointer;
  user-select: none;
}

// Состояния радиокнопок
.filters__label--radio {
  padding-left: 34px;

  &::before,
  &::after {
    position: absolute;
    border-radius: 50%;
    content: "";
  }

  &::before {
    top: -1px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid $base-grey;
  }

  &::after {
    top: 3px;
    left: 4px;
    display: none;
    width: 16px;
    height: 16px;
    background-color: $base-primary;
  }
}

.filters__input:checked + .filters__label--radio::before {
  border-color: $base-primary;
}

.filters__input:checked + .filters__label--radio::after {
  display: block;
}

.filters__label--radio:hover::before,
.filters__input--radio:focus-visible + .filters__label--radio::before {
  @media (min-width: $tablet-width) {
    border-color: $base-primary;
  }
}

.filters__label--radio:hover::after,
.filters__input--radio:focus-visible + .filters__label--radio::after {
  @media (min-width: $tablet-width) {
    background-color: $primary-opacity;
  }
}

.filters__input:disabled + .filters__label--radio::before {
  border-color: $light-grey;
}

.filters__input:disabled + .filters__label--radio::after {
  background-color: $light-grey;
}

.filters__input:disabled + .filters__label--radio {
  color: $base-grey;
}

// Состояния чекбоксов
.filters__label--checkbox {
  padding-left: 54px;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: 0;
    left: 2px;
    width: 42px;
    height: 24px;
    background-color: $base-grey;
    border-radius: 12px;
  }

  &::after {
    top: 2px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: $base-white;
    border-radius: 50%;
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: 0;
    }

    &::after {
      left: 2px;
    }
  }
}

.filters__input:checked + .filters__label--checkbox::before {
  background-color: $base-primary;
}

.filters__input:checked + .filters__label--checkbox::after {
  left: 22px;
  transition: left 0.25s;

  @media (min-width: $desktop-width) {
    left: 20px;
  }
}

.filters__input--checkbox:hover + .filters__label--checkbox::before,
.filters__input--checkbox:focus-visible + .filters__label--checkbox::before {
  background-color: $primary-opacity;
  border: 2px solid $primary-lighter;
}

.filters__input:checked + .filters__label--checkbox:hover::before {
  background-color: $base-primary;
  border: none;
}

.filters__input:disabled + .filters__label--checkbox::before {
  background-color: $light-grey;
  cursor: default;
}

.filters__input:disabled + .filters__label--checkbox::after {
  cursor: default;
}

.filters__input:disabled:checked + .filters__label--checkbox::after {
  background-color: $base-grey;
}

.filters__input:disabled + .filters__label--checkbox:hover::before {
  background-color: $light-grey;
  border: none;
}

.filters__input:disabled:checked + .filters__label--checkbox:hover::after {
  background-color: $base-grey;
}

.filters__input:disabled + .filters__label--checkbox {
  color: $base-grey;
}

// Стили кнопок формы
.filters__buttons-box {
  padding: 11px 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    gap: 30px;
    grid-column: 1/4;

    margin-left: -52px;
    padding: 4px 23px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    gap: 18px;
    margin: 0;
    padding: 20px 0;
  }
}

.filters__button,
.filters__reset-button {
  min-width: 160px;
  padding: 10px 15px 11px;
  margin-inline: auto;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    min-width: 140px;
    margin: 0;
    padding: 8px 4px;
  }

  @media (min-width: $desktop-width) {
    min-width: 150px;
  }
}

.filters__button {
  margin-bottom: 25px;
  font-size: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 14px;
  }
}

.filters__reset-button {
  display: block;

  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
  color: $base-primary;

  background-color: $base-white;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: $base-white;
    background-color: $primary-lighter;
  }

  &:active {
    color: $base-white;
    background-color: $primary-darker;
  }

  &:disabled {
    color: $base-white;
    background-color: $light-grey;
    cursor: default;
  }
}
