
.product {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 40px 20px 20px;
  background-color: $base-white;

  border-radius: 4px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px $black-opacity;
    }
  }
}

.product__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.product__title-link {
  @include link();
}

.product__image-link {
  order: -1;
  margin-bottom: 20px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.product__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.product__purchase-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.product__price {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.product__button {
  position: relative;
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;

  &::before {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 20px;
    height: 16px;
    background-image: url("../../img/icons/stack.svg#cart");
    fill: $base-white;
    content: "";
  }
}
