
.product {
  background-color: $base-white;
}

.product__title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.product__title-link {
  @include link();
  color: $base-black;
}

.product__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.product__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.product__button {
  font-size: 14px;
  line-height: 20px;
}
