
.products__sort {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.products__sort-list {
  @include list();
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $base-primary;
}

.products__pagination-list {
  @include list();
}

.products__pagination-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $base-primary;
}
