
// Скрывает стрелочки в инпуте с типом number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

// Стилизация контролов
.range-controls {
  height: 12px;
  margin-bottom: 27px;
  padding-left: 7px;

  background-color: $lightest-grey;
  border: none;
  box-shadow: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 9px;
  }
}

// Толщина полоски
.noUi-base {
  height: 4px;
}

// Цвет полоски-подложки
.noUi-connects {
  width: 280px;
  background: $light-grey;

  @media (min-width: $tablet-width) {
    width: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 310px;
  }
}

// Цвет полоски сверху
.noUi-connect {
  background: $base-primary;
}

.noUi-horizontal .noUi-handle {
  box-sizing: content-box;
  top: -10px;
  right: -15px;

  width: 20px;
  height: 20px;

  background: $base-white;
  border: 2px solid $base-primary;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $primary-light;
    outline: 2px solid $base-white;
    outline-offset: -4px;
  }

  &:active {
    background: $base-primary;
  }

  &:disabled {
    border-color: $base-grey;
  }
}

.noUi-horizontal .noUi-handle::after,
.noUi-horizontal .noUi-handle::before {
  display: none;
}

.range-filter {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.price-controls {
  display: flex;
  justify-content: space-between;

  width: 280px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 221px;
    margin-left: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    margin-bottom: 32px;
    margin-left: 0;
  }
}

.price-controls input {
  width: 118px;
  height: 38px;
  padding: 8px;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: $base-black;

  background: $base-white;
  border: 2px solid $base-primary;
  border-radius: 4px;

  &:focus-visible {
    outline: none;
    border: 2px solid $primary-darker;
    border-radius: 4px;
  }

  &:disabled {
    color: $base-grey;
    border-color: $light-grey;
  }

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}
